* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.page {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.wrapper {
    background-color: var(--primary-light-color);
    max-width: 30rem;
    margin: auto;
}
.main-content {
    padding: 3.75rem 2.5rem 4.75rem;
}
h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    font-size: 1.875rem;
    color: var(--primary-dark-color);
    margin-bottom: 3.125rem;
}
.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    background-color: #faf6fa;
    border-radius: 5px;
    border: 1px solid #9f9696;
    padding: 0.25rem 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
}
.btn:hover {
    border: 1px solid #000;
}
.copyrights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    color: var(--primary-light-color);
    text-align: center;
    margin-bottom: 2.18rem;
}
/* MEDIA QUERIES */
/* tablet 768px */
@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        max-width: 48rem;
    }
    .main-content {
        padding: 5.25rem 2.812rem 5.375rem;
    }
}

/* MEDIA QUARIES */
/* desktop */

@media (min-width: 1023px) {
    .wrapper {
        max-width: 64rem;
    }
    .main-content {
        padding: 6.125rem 4rem 8.75rem;
    }
}