* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page {
    min-height: 100hv;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    background-color: #ffffff;
    width: 1024px;
    margin: auto;
}
