* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page {
    min-height: 100hv;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.wrapper {
    background-color: #ffffff;
    width: 1024px;
    margin: auto;
    padding: 60px 60px 90px 60px;
}
.details-btn {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    background-color: #faf6fa;
    border-radius: 5px;
    border: 1px solid #9f9696;
    padding: 4px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.details-btn:hover {
    border: 1px solid #000;
}
.copyrights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 35px;
}