.bottom-info {
    font-size: 0;
    display: flex;
    justify-content: space-between;
}
.suggestions {
    flex-basis: 67%;
}
.suggestions-menu {
    font-size: 0;
    margin-bottom: -1px;
    display: flex;
}
.suggestions-menu-item {
    list-style-type: none;
    width: 125px;
    margin-right: -1px;
}
.suggestions-list-item:last-child {
    margin-right: 0;
}
.suggestions-menu-item a {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 19px;
    color: #6b7488;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    border: 1px solid #dedbdb;
}
.suggestions-menu-item a:hover {
    text-decoration: underline;
}
.suggestions-menu-item .active {
    border-bottom: 1px solid var(--primary-light-color);
    color: var(--accent-color);
}
.suggestions-list {
    border: 1px solid #dedbdb;
    padding: 40px 15px;
}
.suggestions-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.suggestions-list-item:last-child {
    margin-bottom: 0;
}
.suggestions-list-item img {
    flex-basis: 35%;
}
.suggestion-list-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 63%;
}
.suggestions-list-item-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--primary-dark-color);
}
.suggestions-list-item-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: var(--primary-dark-color);
    margin-bottom: 15px;
}
.suggestions-list-item-text span {
    display: block;
    color: #000000;
    margin-bottom: 20px;
}
.suggestions-list-item-text span a {
    text-decoration: none;
    color: #fa7e7e;
}
.suggestions-btn {
    align-self: flex-end;
    margin-right: 10px;
}
.aside {
    flex-basis: 31%;
    border: 1px solid #dedbdb;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: var(--primary-dark-color);
}
.aside-title {
    color: var(--primary-dark-color);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 19px;
    display: block;
    text-align: center;
    border-bottom: 1px solid #dedbdb;
}
.aside-content {
    padding: 40px 20px;
}
.aside-content form input {
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    line-height: 25px;
    border: 1px solid #dedbdb;
    border-radius: 3px;
    width: 100%;
}
.aside-feautures {
    margin-bottom: 10px;
}
.aside-feautures li {
    list-style-type: none;
    margin-bottom: 10px;
}
.aside-feautures li::before {
    content: '';
    background-image: url("../img/small-arr-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin-right: 10px;
}
