footer {
    position: relative;
    width: 1024px;
    margin: 0 auto;
}
.footer-wrapper {
    background-color: #30455b;
    color: #ffffff;
}
.footer-menu {
    column-count: 4;
    padding: 40px 130px;
}
.footer-menu-item {
    margin-bottom: 10px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    position: relative;
}
.footer-menu-item:last-child {
    font-size: 12px;
}
.footer-menu-item:last-child span {
    text-transform: lowercase;
}
.footer-menu-item:nth-last-child(n2) {
    font-size: 18px;
}
.footer-menu-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.footer-menu-item a:hover {
    text-decoration: underline;
}
.socials {
    margin: 0 auto;
    padding: 25px 0px;
    text-align: center;
}
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffffff;
    margin-right: 10px;
}
.icon a {
    background-position: center;
    background-repeat: no-repeat;
}
.icon:last-child {
    margin-right: 0px;
}
.twitter {}
.facebook {}
.google+ {}
.linkedin {}
.move-up {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #38afe5;
    border-radius: 100%;
    background-image: url("../img/small-arr-top.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20px;
    right: 20px;
    transform: translateY(-100%);
}
.move-up:hover {
    background-color: rgba(56, 175, 229, 0.8)
}
