footer {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    background-color: #30455b;
    color: #ffffff;
}
.footer-wrapper {
    padding: 40px 130px;
}
.footer-menu {
    column-count: 3;
    display: inline-block;
}
.footer-menu-item {
    margin-bottom: 10px;
    list-style-type: none;
    margin-right: 80px;
}
.footer-menu-item:nth-child(even) {
    margin-bottom: 0;
}
.contacts {
    display: inline-block;
    font-size: 18px;
}
.contacts a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.contacts a:last-child {
    text-transform: lowercase;
}
.footer-menu-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.footer-menu-item a:hover {
    text-decoration: underline;
}

.socials {
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
}
.socials div {
    display: inline-block;
    margin-right: 10px;
}
.socials div:last-child {
    margin-right: 0;
}
.socials .social-icon {
    display: block;
    padding: 20px;
    border-radius: 100%;
    background-color: var(--primary-light-color);
}

.twitter {
    width: 24px;
    height: 24px;
    background: url("../img/social-icon-sprites.png") -54px -54px;
}
.linkedin {
    width: 24px;
    height: 24px;
    background: url("../img/social-icon-sprites.png") -54px -10px;
}
.google {
    width: 24px;
    height: 24px;
    background: url("../img/social-icon-sprites.png") -10px -10px;
}
.facebook {
    width: 24px;
    height: 24px;
    background: url("../img/social-icon-sprites.png") -54px -10px;

}
.socials:last-child {
    margin-right: 0;
}
.move-up {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #38afe5;
    border-radius: 100%;
    background-image: url("../img/small-arr-top.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20px;
    right: 20px;
    transform: translateY(-100%);
}
.move-up:hover {
    background-color: rgba(56, 175, 229, 0.8);
}
