footer {
    position: relative;
    width: 64rem;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    background-color: #30455b;
    color: #ffffff;
    padding: 2.5rem 8.125rem;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-menu-item {
    margin-bottom: 0.625rem;
    list-style-type: none;
    margin-right: 15%;
}

.contacts {
    flex-basis: 20%;
    font-size: 1.125rem;
}
.contacts h5 {
    font-weight: inherit;
}
.contacts a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 0.75rem;
}
.contacts a:last-child {
    text-transform: lowercase;
}
.footer-menu-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}
.footer-menu-item a:hover {
    text-decoration: underline;
}

.socials {
    margin: 0 auto;
    padding: 1.56rem 0;
    justify-content: center;
    display: flex;
}
.socials .social-icon {
    display: block;
    padding: 1.25rem;
    border-radius: 100%;
    background-color: var(--primary-light-color);
    margin-right: 0.625rem;
    width: 1rem;
    height: 1rem;
}
.social-icon:last-child {
    margin-right: 0;
}

.twitter {
    background: url("../img/social-icon-sprites.png") -34px -34px;
}
.facebook {

    background: url("../img/social-icon-sprites.png") -34px 2px;
}
.google {
    background: url("../img/social-icon-sprites.png") 4px 3px;
}
.linkedin {
        background: url("../img/social-icon-sprites.png") 0px -33px;
}
.socials:last-child {
    margin-right: 0;
}
.move-up {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    background-color: #38afe5;
    border-radius: 100%;
    background-image: url("../img/small-arr-top.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20px;
    right: 20px;
    transform: translateY(-100%);
}
.move-up:hover {
    background-color: rgba(56, 175, 229, 0.8);
}
