header {
    padding-top: 1.5rem;
    padding-bottom: 3.75rem;
}
.main-menu {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    max-width: 14.125rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.menu-item {
    list-style: none;
    flex-basis: 33%;
}

.menu-item > a {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--primary-light-color);
}
.menu-item > a:hover {
    color: var(--primary-dark-color);
}
.menu-item:hover > .submenu {
    display: block;
}
.logo {
    text-decoration: none;
    background-color: var(--primary-light-color);
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 2rem;
    color: var(--primary-dark-color);
    text-transform: uppercase;
    font-family: 'Dorsa', sans-serif;
    font-size: 2.125rem;
    line-height: 5rem;
}
/* SUBMENU */
.submenu {
    list-style: none;
    position: absolute;
    display: none;
    text-align: center;
    margin: auto;
    background-color: var(--primary-light-color);
    border-radius: 3px;
    padding: 0.625rem;
    top: 2.187rem;
    left: 50%;
    transform: translateX(-50%);
}
.submenu::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent var(--primary-light-color) transparent;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%,-3px);
}
.submenu-item {
    font-size: 0;
    margin-bottom: 0.312rem;
}
.submenu-item:last-of-type {
    margin-bottom: 0;
}
.submenu-item a {
    text-decoration: none;
    color: #6b7488;
    font-size: 0.875rem;
    line-height: 0.875rem;
}
.submenu-item a:hover {
    color: var(--primary-dark-color);
}

/* MEDIA QUERIES */
/* mobile 480px */

@media (min-width: 480px) and (max-width: 768px) {}
