header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 0;
    margin: 3.125rem 0;
}
.main-menu {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.75rem;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    position: relative;
    display: flex;
}
.menu-item {
    list-style: none;
    position: relative;
}
.menu-item:nth-child(3) {
    margin-right: 5rem;
}
.menu-item:nth-child(4) {
    margin-left: 5rem;
}
.menu-item > a {
    text-decoration: none;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    color: var(--primary-light-color);
}
.menu-item > a:hover {
    color: var(--primary-dark-color);
}
.menu-item:hover > .submenu {
    display: block;
}
.logo {
    text-decoration: none;
    background-color: var(--primary-light-color);
    height: 8.75rem;
    width: 8.75rem;
    border-radius: 100%;
    display: block;
    text-align: center;
    color: var(--primary-dark-color);
    text-transform: uppercase;
    font-family: 'Dorsa', sans-serif;
    font-size: 3.75rem;
    line-height: 8.75rem;
    position: absolute;
}
/* SUBMENU */
.submenu {
    list-style: none;
    position: absolute;
    display: none;
    text-align: center;
    margin: auto;
    background-color: var(--primary-light-color);
    border-radius: 3px;
    padding: 0.625rem;
    top: 2.187rem;
    left: 50%;
    transform: translateX(-50%);
}
.submenu::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 3px 2.5px;
    border-color: transparent transparent var(--primary-light-color) transparent;
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%,-3px);
}
.submenu-item {
    font-size: 0;
    margin-bottom: 0.312rem;
}
.submenu-item:last-of-type {
    margin-bottom: 0;
}
.submenu-item a {
    text-decoration: none;
    color: #6b7488;
    font-size: 1.52rem;
    line-height: 1.25rem;
}
.submenu-item a:hover {
    color: var(--primary-dark-color);
}

/* MEDIA QUERIES */
/* mobile 480px */

@media (min-width: 480px) and (max-width: 768px) {
    header {
        display: block;
        margin: 0;
        padding-top: 1.43rem;
    }
    .logo {
        display: block;
        position: static;
        margin: 0 auto;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .main-menu {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.25rem;
        max-width: 14.375rem;
    }
    .menu-item {
        flex-basis: 33%;
    }
    .menu-item:nth-child(3) {
        margin-right: 0;
    }
    .menu-item:nth-child(4) {
        margin-left: 0;
    }
    .menu-item > a {
        padding-left: 0;
        padding-right: 0;
    }
    .submenu {
        border-radius: 3px;
        padding: 0.25rem;
        top: 1.5rem;
        z-index: 1;
    }
    .submenu-item a {
        font-size: 0.875rem;
        line-height: 0.875rem;
    }
}
