.slider {
    margin-bottom: 60px;
    position: relative;
}
.slider-img {
    height: 100%;
    width: 100%;
}
.slider-text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.slider-text span {
    display: inline-block;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    line-height: 60px;
    padding: 0 15px;
}
.slider-text span:first-child {
    background-color: #ffffff;
    font-size: 22px;
    color: #263555;
}
.slider-text span:last-child {
    display: block;
    background-color: #38afe5;
    font-size: 34px;
}

.slider-controls {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: block;
    font-size: 0;

}
.slider-controls a {
    display: inline-block;
    height: 90px;
    width: 45px;
    font-size: 15px;
    background-color: rgb(56, 175, 229);
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.slider a:hover {
    background-color: rgba(56, 175, 229, 0.9);
}
.left {
    border-radius: 90px 0 0 90px;
}
.left:before {
    content: url("../img/arrow-left.svg");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right {
    border-radius: 0 90px 90px 0;
}
.right:before {
    content: url("../img/arrow-right.svg");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
