.slider {
    margin-bottom: 60px;
    position: relative;
}
.slider-img {
    height: 100%;
    width: 100%;
    display: block;
}
.slider-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}
.slider-text span {
    display: inline-block;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    line-height: 3.75rem 0px;
    padding: 0 0.937rem;
}
.slider-text span:first-child {
    background-color: var(--primary-light-color);
    font-size: 1.375rem;
    color: #263555;
}
.slider-text span:last-child {
    display: block;
    background-color: var(--accent-color);
    font-size: 2.125rem;
}

.slider-controls {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    display: flex;
    font-size: 0;

}
.slider-controls a {
     height: 5.625rem;
    width: 2.812rem;
    font-size: 0.937rem;
    background-color: var(--accent-color);
    text-decoration: none;
    color: var(--primary-light-color);
    position: relative;
}
.slider a:hover {
    background-color: rgba(56, 175, 229, 0.9);
}
.left {
    border-radius: 5.625rem 0 0 5.625rem;
}
.left:before {
    content: url("../img/arrow-left.svg");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right {
    border-radius: 0 5.625rem 5.625rem 0;
}
.right:before {
    content: url("../img/arrow-right.svg");
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
