.tours-container {
    display: flex;
    justify-content: space-between;
}
.specials-container {
    flex-basis: 67%;
}
.specials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.specials-item {
    display: flex;
    align-items: flex-start;
    flex-basis: 17.5rem;
    height: auto;
    margin-bottom: 2.375rem;
}
.specials-img {
    flex-basis: 35%;
    margin-right: 1.25rem;
}
.specials-item-info {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-dark-color);
}
.specials-item-info h5 {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}
.price-block {
    font-size: 0.625rem;
    margin-bottom: 1rem;
}
.price-block:last-child {
    margin-bottom: 2rem;
}
.price {
    display: block;
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 0.812rem;
    margin-top: 0.312rem;
}
.details-btn {}
.tours-forms {
    flex-basis: 23%;
}
.browse {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.625rem;
    margin-bottom: 1rem;
}
.browse span {
    display: block;
}
select {
    display: block;
    width: 100%;
    background-color: #fcfafa;
    border: 1px solid #dedbdb;
    margin-bottom: 1.75rem;
    padding: 0.187rem;
    margin-top: 0.5rem;
}
option {
    background-color: #e3e2e2;
    color: #ffffff;
}

.search {
    font-size: 0.75rem;
}
.search a {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--accent-color);
    text-decoration: none;
}
