.bottom-content {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
.what-we-offer {
    flex-basis: 70%;
}
.what-we-offer p {
    font-size: 0.812rem;
    color: #4e5050;
}
.what-we-offer p:first-of-type {
    font-size: 0.937rem;
    color: var(--primary-dark-color);
    margin-bottom: 1.25rem;
}

.what-we-offer p:last-of-type {
    margin-bottom: 1.785rem;
}
.what-we-offer-list {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-dark-color);
    font-size: 0.937rem;
    columns: 2;
}
.what-we-offer-list li {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
}
.what-we-offer-list li::before {
    display: block;
    content: "";
    background-image: url("../../img/arrow-right.png");
    background-repeat: no-repeat;
    height: 0.437rem;
    width: 0.625rem;
    margin-right: 0.625rem;
}
.testimonial h4 {
    font-size: 1rem;
    color: var(--primary-dark-color);
    text-align: center;
    margin-bottom: 1.25rem;
}
.testimonial span {
    font-size: 0.437rem;
    text-align: center;
    display: block;
    }
.quote {
    padding: 1.25rem;
    font-size: 0.937rem;
    color: var(--primary-dark-color);
    margin-bottom: 60px;
}
.quote p::before {
    content: "\201c";
}
.quote p::after {
    content: "\201d";
}
.arrow-box {
    position: relative;
    background: #fcfafa;
    border: 1px solid #dedbdb;
}
.arrow-box:after,
.arrow-box:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow-box:after {
    border-color: rgba(252, 250, 250, 0);
    border-top-color: #fcfafa;
    border-width: 25px;
    margin-left: -25px;
}
.arrow-box:before {
    border-color: rgba(222, 219, 219, 0);
    border-top-color: #dedbdb;
    border-width: 26px;
    margin-left: -26px;
}
