.top-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.125rem;
}
.agency-profile {
    flex-basis: 70%;
    position: relative;
    clear: both;
}
.profile-img {
    float: left;
    margin-right: 1.562rem;
    margin-bottom: 1.562rem;
}
.profile-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.812rem;
    color: #4e5050;
}
.profile-text p {
    margin-bottom: 1.25rem;
}
.profile-text p:first-child {
    font-size: 0.937rem;
    line-height: 1.187rem;
    color: var(--primary-dark-color);
}
.profile-text p:last-child {
    margin-bottom: 0px;
}
.right-section {
    flex-basis: 25%;
}
.our-principies {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.812rem;
    color: #4e5050;
}
.principies-list {
    list-style-type: none;
    counter-reset: num;
}

.principies-list-item {
    margin-bottom: 1.875rem;
}
.principies-list-item h3 {
    font-size: 0.937rem;
    color: var(--primary-dark-color);
}
.principies-list-item p {
    display: block;
    line-height: 1.187rem;
    margin-top: 0.625rem;
    margin-left: 2.375rem;
}
.principies-list-item:last-child {
    margin-bottom: 0;
}
.principies-list-item::before {
    counter-increment: num;
    content: counter(num);
    display: block;
    background-color: var(--accent-color);
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 100%;
    border: 1px solid #4a94b5;
    color: #ffffff;
    text-align: center;
    line-height: 1.75rem;
    float: left;
    margin-right: 10p0.6325re
    x;
}
